<ion-view title="Sign up" id="page5">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="signUp-form2" class="list">
      <ion-list id="signUp-list3">
        <label class="item item-input item-stacked-label" id="signUp-input6">
          <span class="input-label">FULL NAME</span>
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input item-stacked-label" id="signUp-input3">
          <span class="input-label">EMAIL</span>
          <input type="email" placeholder="example@domain.com">
        </label>
        <label class="item item-input item-stacked-label" id="signUp-input5">
          <span class="input-label">PASSWORD</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="signUp-input4">
          <span class="input-label">RETYPE PASSWORD</span>
          <input type="password" placeholder="Re-Enter Password">
        </label>
      </ion-list>
      <button id="signUp-button37" class="button button-stable  button-block">Sign up</button>
    </form>
    <div id="signUp-markdown47" class="show-list-numbers-and-dots">
      <p style="color:#000000;">ALREADY HAVE AN ACCOUNT? SIGN IN</p>
    </div>
    <a ui-sref="menu.login" id="signUp-button83" class="button button-positive  button-block">Sign in </a>
  </ion-content>
</ion-view>